h1 {
	color:blue;
	
}

p
{
	background-color:rgb(200 , 200 , 200);
}

a
{
	text-decoration:none;
}

img

{
	
	width:1500x;
	height:500px;
}
table,td,th

{
	border:1px solid blue;
}

table
{
	border-collapse:collapse;
	padding:25px;
	text-align:right;
}

ul{
	list-style-type:none;
}


ol{
	
	list-style-type:inital;
	
}
